html {
    background-color: rgb(216, 215, 215);
 }  
 .chat {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;     
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    overflow: auto;
 }
 .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 6%;
 }
 /* .text {
    
 } */